{% extends 'base.html' %}

{% block content %}
    <!--<h1>{% block title %}Candidats{% endblock %}</h1>-->
    {% for application in applications %} 
        <h5><span class="badge badge-primary" style="color: black;">ID: {{ application.id }}</span>
        <span class="badge badge-primary" style="color: black;">User Id: {{ application.user_id }}</span>
        <span class="badge badge-primary" style="color: black;">Дата создания: {{ (application.created|string)[:-7] }}</span>
        <br>
        <span class="badge badge-primary" style="color: black;">Должность: {{ application.position }}</span>
        <span class="badge badge-primary" style="color: black;">Опыт работы: {{ application.experience }}</span>
        <span class="badge badge-primary" style="color: black;">Возраст: {{ application.age }}</span>
        <span class="badge badge-primary" style="color: black;">Заработная плата: {{ application.wage }}</span>
        <span class="badge badge-primary" style="color: black;">Выполняемые задачи: {{ application.tasks }}</span></h5>
        <hr>
    {% endfor %}
{% endblock %}