{% extends 'base.html' %}

{% block content %}
    {% for employer in employers %} 
        <div class="btn-group dropright">
          <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{employer.user_id}}
          </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <form method="post">
                <button type="submit" class="dropdown-item" type="button" name="more-information-employer" value="{{employer.user_id}}">Больше информации</button>
                </form>
            </div>
        </div>
        <br>
        <h5><span class="badge badge-primary" style="color: black;">ID: {{ employer.id }}</span>
        <span class="badge badge-primary" style="color: black;">Дата создания: {{ (employer.created|string)[:-7] }}</span>
        <br>
        <span class="badge badge-primary" style="color: black;">Имя компании: {{ employer.name_company }}</span>
        <span class="badge badge-primary" style="color: black;">ФИО: {{ employer.fio }}</span>
        <span class="badge badge-primary" style="color: black;">Профиль: {{ employer.profile }}</span>
        <span class="badge badge-primary" style="color: black;">Адрес: {{ employer.adress }}</span>
        <span class="badge badge-primary" style="color: black;">Телефон: {{ employer.phone }}</span>
        <span class="badge badge-primary" style="color: black;">Почта: {{ employer.email }}</span>
        <span class="badge badge-primary" style="color: black;">Ссылка: {{ employer.url }}</span></h5>
        <hr>
    {% endfor %}
{% endblock %}