{% extends 'base.html' %}

{% block content %}
    <title>{% block title %}{% endblock %} Resume </title>
    {% for _resume in resume %} 
        <h5><span class="badge badge-primary" style="color: black;">ID: {{ _resume.id }}</span>
        <span class="badge badge-primary" style="color: black;">User Id: {{ _resume.user_id }}</span>
        <span class="badge badge-primary" style="color: black;">Дата создания: {{ (_resume.created|string)[:-7] }}</span>
        <br>
        <span class="badge badge-primary" style="color: black;">Компания: {{ _resume.company }}</span>
        <span class="badge badge-primary" style="color: black;">Должность: {{ _resume.position }}</span>
        <span class="badge badge-primary" style="color: black;">Опыт работы: {{ _resume.experience }}</span>
        <span class="badge badge-primary" style="color: black;">Результаты: {{ _resume.results }}</span>
        <span class="badge badge-primary" style="color: black;">Причина увольнения: {{ _resume.dismissal }}</span></h5>
        <hr>
    {% endfor %}
{% endblock %}